@use '@/style/iconfont.css';
@use "./transition.scss";

.html-grey {
  filter: grayscale(100%);
}

.html-weakenss {
  filter: invert(80%);
}


.ff-custom-panel {
  @apply flex flex-col h-full
}
.ff-form-box {
  @apply p-4 bg-white text-slate-700 dark:text-slate-400 dark:bg-slate-900 rounded my-2 flex flex-col flex-1 overflow-hidden;
  .el-form {
    @apply border-x-0 border-t-0 border-b-0 rounded border-table-border border-solid -mx-[1px] flex-1 overflow-auto;
  }
}

.gva-table-box {
  @apply p-4 bg-white text-slate-700 dark:text-slate-400 dark:bg-slate-900 rounded my-2 flex flex-col flex-1 overflow-hidden;
  .el-table {
    @apply border-x border-t border-b-0 rounded border-table-border border-solid -mx-[1px] flex-1 overflow-auto;
  }
}

.gva-btn-list {
  @apply mb-3 flex items-center flex-wrap gap-2;
  .el-button+.el-button{
    @apply ml-0 !important;
  }
  .el-upload{
    .el-button{
      @apply ml-0 !important;
    }
  }
}

#nprogress .bar {
  background: #29d !important;
}
.gva-customer-icon {
  @apply w-4 h-4;
}

::-webkit-scrollbar {
  @apply hidden;
}

.gva-search-box {
  @apply p-4 pb-0 bg-white text-slate-700 dark:text-slate-400 dark:bg-slate-900 rounded my-2;
}

.gva-form-box {
  @apply p-4 bg-white text-slate-700 dark:text-slate-400 dark:bg-slate-900 rounded my-2;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: var(--el-color-primary-bg) !important;
}

.el-dropdown {
  outline: none;
  * {
    outline: none;
  }
}
